html {
    background-color: #ead8a9;
    height: 100%;
    color: #441107;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.member {
    width: 100%;
    object-fit: cover;
}
main {
    width: 60%;
    padding: 20px;
    background: linear-gradient(
            rgba(255, 188, 143, 0.45),
            rgba(255, 188, 143, 0.45)
        ),
        url("/images/wood.jpg");
    align-items: center;
}
.header {
    height: 70px;
}
.npc_img {
    width: 50%;
}
.subheader {
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 28px;
}
.feature-flex,
.item_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 40px 0;
    align-items: center;
}
.npc_img,
.flipper-container {
    flex: 0 0 30%;
}
.npc-desc,
.item_desc {
    font-size: 16px;
    margin: 12px;
}
/*=====Item flipper=====*/
.flipper-container {
    width: 160px;
    height: 200px;
    margin: 50px auto;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
}

.flipper-image {
    object-fit: cover;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, height 0s linear 1s;
}

.flipper-image.active {
    opacity: 1;
    height: 100%;
    visibility: visible;
    transition: opacity 1s ease-in-out, height 0s linear 1s;
}
